body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#content .map path {
  fill: #ddd;
  stroke: #aaa;
}

img{
	max-height: 100%;
	max-width: 100%;
	display: block;
	margin: auto auto;
}

svg{
	margin: auto;
	display: block;
}

.box1{
	border: 4px ridge grey;
}

.box2{
	border: 4px ridge grey;
}

.box3{
	border: 4px ridge grey;
}

.box4{
	border: 4px ridge grey;
}

.box4#photo1{
    background-color:#0E5D7B;	
    margin-top: 0px;
    background:radial-gradient(lightblue, white);
}

.box4#photo2{
    background-color:#0E5D7B;	
    margin-top: 0px;
    background:radial-gradient(lightgreen, white);
}
